@charset "UTF-8";
/* CSS Document */
.p_cat_number {font-weight:600; font-size:14px; color:#616161; padding:5px;}

.tnved_print *   { background-color:#d5d5d5; margin-top:20px; border-collapse:separate; border-spacing:3px;}